/* Общие стили для body */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Элементы располагаются в верхней части экрана */
    height: 100vh; /* Занимает всю высоту окна */
    margin: 0;
    font-family: 'Arial', sans-serif; /* Замените на современный шрифт для кириллицы */
    color: #333; /* Более темный цвет текста */
    overflow: auto; /* Позволяет прокручивать содержимое, если оно выходит за пределы */
}

/* Контейнер для контента */
.container {
    max-width: 90%; /* Ограничение ширины контейнера */
    text-align: center; /* Центрирование текста */
    margin-top: 20px; /* Отступ сверху для контейнера */
}

/* Стили для заголовка */
h1 {
    font-size: 2em; /* Стандартный размер заголовка */
    color: #333; /* Более темный цвет текста */
}

/* Стили для класса texts */
.texts {
    font-size: 16px; /* Размер текста */
    color: #444; /* Чуть чернее, чем заголовок */
}

/* Стили для нового параграфа */
.motivational {
    font-size: 16px; /* Размер текста */
    color: #444; /* Чуть чернее, чем заголовок */
    margin: 10px 0; /* Отступы сверху и снизу */
}

/* Стили для класса ad */
.ad {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование картинки */
    margin-top: 20px; /* Отступ сверху */
}

/* Стили для текста над картинкой */
.adtxt {
    font-size: 16px; /* Размер текста */
    font-weight: bold; /* Жирный шрифт */
    text-transform: uppercase; /* Капсом */
    color: #444; /* Чуть чернее, чем заголовок */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для изображения */
.ad-image {
    max-width: 100%; /* Ограничение ширины по размеру контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    display: block; /* Убирает пробелы под изображением */
    margin-top: 10px; /* Отступ сверху для изображения */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em; /* Уменьшение размера заголовка для мобильных */
    }
    .texts, .motivational, .adtxt {
        font-size: 14px; /* Уменьшение размера текста для мобильных */
    }
}
